<p id="notice"><%= notice %></p>

<h1>Manifests Sequences</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manifests_sequences.each do |manifests_sequence| %>
      <tr>
        <td><%= link_to 'Show', manifests_sequence %></td>
        <td><%= link_to 'Edit', edit_manifests_sequence_path(manifests_sequence) %></td>
        <td><%= link_to 'Destroy', manifests_sequence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manifests Sequence', new_manifests_sequence_path %>
