<div class="ui container">
  <div class="ui grid">
    <div class="column">
      
<p id="notice"><%= notice %></p>

<h1>Listing Admin Manifests</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Room</th>
      <th>Title</th>
      <th>Url</th>
      <th>Weight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_manifests.each do |admin_manifest| %>
      <tr>
        <td><%= admin_manifest.room.title %></td>
        <td><%= admin_manifest.title %></td>
        <td><%= admin_manifest.url %></td>
        <td><%= admin_manifest.weight %></td>
        <td><%= link_to 'Show', admin_manifest %></td>
        <td><%= link_to 'Edit', edit_admin_manifest_path(admin_manifest) %></td>
        <td><%= link_to 'Destroy', admin_manifest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manifest', new_admin_manifest_path %>

    </div>
  </div>
</div>