<%= render 'header' %>

<div id="ym_grid"></div>

<div id="ym_annotation_dialog">
</div>

<div id="ym_modal"></div>

<div id="ym_error_dialog"></div>

<div id="viewer_template">
  <div id="{{id}}"
    data-settings-url="/api/settings"
    data-manifest-url="<%= @manifest_url %>"
    data-room-id="<%= @room_id %>"
    data-canvas-id="<%= @canvas_id %>"
    data-toc-tags="<%= @toc_tags %>"
    data-layer-ids="<%= @layer_ids %>">
  </div>
</div>
