<%= render 'header' %>

<div id="mr_grid"></div>

<div id="mr_annotation_dialog">
</div>

<div id="viewer_template">
  <div id="{{id}}"
    data-settings-url="/api/settings"
    data-manifest-url="<%= @manifest_url %>"
    data-room-id="<%= @room_id %>"
    data-canvas-id="<%= @canvas_id %>"
    data-toc-tags="<%= @toc_tags %>">
  </div>
</div>
