<div class="ui container">
  <div class="ui grid">
    <div class="column">

<p id="notice"><%= notice %></p>

<p>
  <strong>Site name:</strong>
  <%= @admin_setting.site_name %>
</p>

<p>
  <strong>Landing path:</strong>
  <%= @admin_setting.landing_path %>
</p>

<p>
  <strong>Endpoint url:</strong>
  <%= @admin_setting.endpoint_url %>
</p>

<p>
  <strong>Maintenance mode:</strong>
  <%= @admin_setting.maintenance_mode %>
</p>

<p>
  <strong>Maintenance message:</strong>
  <%= @admin_setting.maintenance_message %>
</p>

<p>
  <strong>Disable authentication:</strong>
  <%= @admin_setting.disable_authentication %>
</p>

<p>
  <strong>Fix annotation cell height:</strong>
  <%= @admin_setting.fix_anno_cell_height %>
</p>

<p>
  <strong>Tooltip Styles:</strong>
  <%= @admin_setting.tooltip_styles %>
</p>

<p>
  <strong>UI - Annotations Overlay</strong>
  <%= @admin_setting.ui_annotations_overlay %>
</p>

<%= link_to 'Edit', edit_admin_setting_path(@admin_setting) %> |
<%= link_to 'Back', admin_settings_path %>

    </div>
  </div>
</div>
