<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <title><%= @title %></title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <% if defined? @is_mirador_window %>
    <%= stylesheet_link_tag '/mirador/css/mirador-combined.min' %>
  <% end %>
  <%= stylesheet_link_tag 'semantic_ui/semantic_ui' %>
  <%= stylesheet_link_tag '/yale-mirador/yale-mirador.bundle' %>

  <% if defined? @use_firebase %>
    <%= javascript_include_tag 'https://www.gstatic.com/firebasejs/live/3.0/firebase.js' %>
  <% end %>
  
  <%= javascript_include_tag '/mirador/mirador' %>
  <%= javascript_include_tag 'goldenlayout.min' %>
  <%= javascript_include_tag '/yale-mirador/yale-mirador.bundle' %>

  <script>
    $.noConflict();
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  
  <% if @use_analytics %>
    <%= render 'analytics' %>
  <% end %>
</head>
<body data-no-turbolink>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>

</html>
