<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <title>TenThousandRooms</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <% if defined? @is_mirador_window %>
    <%= stylesheet_link_tag    '/mirador/css/mirador-combined' %>
  <% end %>
  <%= javascript_include_tag 'https://cdn.firebase.com/js/client/2.2.1/firebase.js' %>
  <%= javascript_include_tag '/mirador/mirador' %>
  <script>
    $.noConflict();
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
